<%  user = form_options[:user] %>
<%  form_action = form_options[:form_action] %>
<%  http_method = form_options[:http_method] %>
<%  button_text = form_options[:button_text] %>

<form action="<%= form_action %>" method="post">
  <input type="hidden" name="_method" value="<%= http_method %>">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label>Username:
    <br/>
    <input type="text" name="user[username]" value="<%= user.username %>">
  </label>
  <br/>
  <label>Password:
    <br/>
    <input type="password" name="user[password]" value="<%= user.password %>">
  </label>

  <br/>
  <input type="submit" value="<%= button_text %>">
</form>
